@use "theme_variables" as *;

/*-- scss:rules --*/

html,
body {
  min-width: 440px;
  width: 100%;
}

p {
  font-family: $font-family-sans-serif !important;
}

a {
  text-decoration: none !important;
  -webkit-text-decoration: none !important;
  -moz-text-decoration: none !important;
  -ms-text-decoration: none !important;
  -o-text-decoration: none !important;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline !important;
    -webkit-text-decoration: underline !important;
    -moz-text-decoration: underline !important;
    -ms-text-decoration: underline !important;
    -o-text-decoration: underline !important;
  }
}

.btn:hover,
.btn:active,
.btn:focus {
  text-decoration: none !important;
  -webkit-text-decoration: none !important;
  -moz-text-decoration: none !important;
  -ms-text-decoration: none !important;
  -o-text-decoration: none !important;
}

.homepage {
  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none !important;
    -webkit-text-decoration: none !important;
    -moz-text-decoration: none !important;
    -ms-text-decoration: none !important;
    -o-text-decoration: none !important;
  }
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.heading-font {
  font-family: $font-family-sans-serif;
}

.home-header {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base * 3;
}

#quarto-embedded-source-code-modal
  > .modal-dialog
  > .modal-content
  > .modal-header {
  background-color: $card-bg;
}

#quarto-margin-sidebar {
  .quarto-listing-category-title {
    margin-left: 0.5em;
  }

  .quarto-listing-category {
    font-family: $toc-font-family;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.1;
    padding-left: 0.6rem;
    margin-left: 0.5em;
    border-left: 1px solid $gray-200;

    .category {
      padding-bottom: 0.5rem;
    }

    .active {
      font-weight: 400;
      color: $primary;
    }

    .quarto-category-count {
      font-weight: 200;
      font-size: 0.8em;
      color: $gray-600;
    }
  }
}
