```{=html}
<div class="d-flex justify-content-center w-full h-full">
  <a
    href="https://literal.club/aadam"
    target="_blank"
    class="text-decoration-none w-full h-full"
  >
    <div class="home-card">
      <div class="item-header d-flex justify-content-between">
        <h5 class="text-center font-weight-bold">Books I'm reading</h5>
        <div class="d-flex justify-content-end align-items-center">
          <i class="bi bi-book"></i>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div
          id="literal-widget"
          handle="aadam"
          status="IS_READING"
          layout="list"
        ></div>
      </div>
    </div>
  </a>
</div>

<script src="https://literal.club/js/widget.js"></script>
```
