```{=html}
<div class="d-flex justify-content-center w-full h-full">
  <div class="home-card w-full h-full">
    <div class="item-header d-flex justify-content-between mb-4">
      <h5 class="text-center font-weight-bold">My Interests</h5>
      <div class="d-flex justify-content-end align-items-center">
        <i class="bi bi-tags"></i>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-between">
      <ul class="d-flex flex-column p-0 list-unstyled">
        <li class="mt-2">
          <div class="interests-grid">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="interests-icon"
            >
              <polyline points="4 17 10 11 4 5"></polyline>
              <line x1="12" y1="19" x2="20" y2="19"></line>
            </svg>
            <p style="grid-column: span 9 / span 9">
              Craft <span class="highlight">machine</span> and
              <span class="highlight">deep learning</span> wonders, where
              creativity meets algorithms.
            </p>
          </div>
        </li>
        <li class="mt-2">
          <div class="interests-grid">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="interests-icon"
            >
              <path
                d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"
              ></path>
            </svg>
            <p style="grid-column: span 9 / span 9">
              Discover the art of
              <a href="https://notes.aadam.dev">note-making</a> with captivating
              tools that amplify the power of thought.
            </p>
          </div>
        </li>
        <li class="mt-2">
          <div class="interests-grid">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="interests-icon"
            >
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
            <p style="grid-column: span 9 / span 9">
              Explore the fascinating world of
              <span class="highlight">biology and bioinformatics</span>,
              unraveling nature's hidden wisdom.
            </p>
          </div>
        </li>
        <li class="mt-2">
          <div class="interests-grid">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="interests-icon"
            >
              <line x1="18" y1="10" x2="6" y2="10"></line>
              <line x1="21" y1="6" x2="3" y2="6"></line>
              <line x1="21" y1="14" x2="3" y2="14"></line>
              <line x1="18" y1="18" x2="6" y2="18"></line>
            </svg>
            <p style="grid-column: span 9 / span 9">
              Pen <span class="highlight">poetic verses</span>, painting
              emotions with words, a soulful expression amidst the chaos.
            </p>
          </div>
        </li>
        <li class="mt-2">
          <div class="interests-grid">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="interests-icon"
            >
              <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
              <path
                d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"
              ></path>
            </svg>
            <p style="grid-column: span 9 / span 9">
              Immerse in captivating tales from books, manga, and more, where
              <span class="highlight">stories</span> ignite the imagination.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

```
