@use "theme_variables" as *;

#literal-widget a:hover {
  text-decoration: none;
}

#literal-widget .literal-book-item__title {
  font-size: 1rem !important;
  line-height: 1.25rem !important;
  font-weight: 500 !important;
  color: var(--color-black, #495057) !important;
}


#literal-widget a:hover .literal-book-item__title {
  color: var(--accent, $primary) !important;
}

#literal-widget .literal-book-item__authors {
  font-weight: 300 !important;
  color: var(--color-black, #495057) !important;
  opacity: 0.8 !important;
}

.literal-book-item__image_cover__outer {
  width: 70px !important;
  height: 100px !important;
}

.literal-book-item__image {
  width: 60px !important;
  height: 90px !important;
}

.literal-book-item__inner {
  margin-top: 1.1rem !important;
}
