@use "theme_variables" as *;

.home-card {
  display: block;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: $card-bg;
  height: 100%;
  border-radius: 1.25rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.item-header {
  color: $primary;
  font-size: 1.5rem;

  h5 {
    font-size: $font-size-base * 1.5;
  }
}

.card-container {
  display: flex;
  justify-content: center;
  position: relative;
}
.item-link {
  color: $title-color;
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    color: $primary;
    text-decoration: none !important;
  }
}

.star-count {
  line-height: 1.25;
  margin-left: 1.5rem;
  margin-bottom: 0;
}

.item-info {
  p {
    margin: 0;
  }
}
.item-description {
  color: rgba(228, 228, 231, 1);
  line-height: 1.25;
  font-weight: 300;
  font-size: 0.875rem;
}
.star {
  margin-left: 0.5rem;
  vertical-align: middle;
}
.item {
  margin-bottom: 0.75rem;
}

.interests-grid {
  display: grid;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: 1rem;
}

.interests-icon {
  color: $primary;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.contact-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

.contact-link {
  background-color: $body-bg;
  color: $body-color;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;

  &:hover, &:focus, &active {
    background-color: shift-color($body-bg, 70%);
    color: $body-color;
  }
}