@use "theme_variables" as *;

/*-- scss:rules --*/

#quarto-header > nav {
  border: none;
}

.navbar-title {
  font-size: $font-size-base * 1.75;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: $primary !important;
  text-decoration: none !important;
}

.navbar-expand-lg {
  .navbar-nav {
    .nav-link {
      text-decoration: none !important;
      &:hover,
      &:active {
        text-decoration: none !important;
        color: $primary;
      }
    }
  }
}
.navbar-dark {
  .navbar-brand {
    &:hover, &:focus {
      color: $body-color !important;
      text-decoration: none !important;
    }
  }
}
#quarto-header {
  // text-transform: uppercase;
  font-family: $font-family-sans-serif;
}
@media screen and (min-width: 640px) {
  a.nav-link {
    position: relative;
  }
  .navbar {
    .navbar-nav {
      align-items: center;
      .nav-item {
        position: relative;
        font-size: $font-size-base * 1.25;
        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          background-color: $primary;
          width: 0%;
          content: "";
          height: 4px;
          transition: all 0.3s;
        }
        &:hover {
          &::after {
            width: 90%;
          }
        }
      }
    }
  }
}
