/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

// fonts
// $font-family-sans-serif: "Roboto Condensed", sans-serif !default;
// $font-family-monospace: monospace;

// Fonts
$font-size-base: 1rem;
$font-family-sans-serif: "Reddit Sans", "Libre Franklin", inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !default;
$headings-font-family: "Reddit Sans", "Jost", sans-serif !default;
$headings-font-weight: 800 !default;

$navbar-font-family: "Reddit Sans", "Jost", sans-serif !default;
$toc-font-family: "Reddit Sans", "Jost", sans-serif !default;
$footer-font-family: "Reddit Sans", "Jost", sans-serif !default;

// warmer grays (hue 240)
$white:    #fff !default;
$gray-100: #F8F8FA !default;
$gray-200: #E9E9EF !default;
$gray-300: #DCDCE6 !default;
$gray-400: #CECEDA !default;
$gray-500: #ADADBD !default;
$gray-600: #868696 !default;
$gray-700: #494957 !default;
$gray-800: #343440 !default;
$gray-900: #212129 !default;
$black:    #000 !default;

// Light theme colors
$accent: #dd7900 !default;
$primary: $accent !default;
$body-bg: #f3f1ee !default;
$body-color: #495057 !default;
$navbar-bg: $body-bg;
$navbar-fg: $body-color;
$card-bg: #ffffff88 !default;
$title-color: $body-color;

// Tint a color: mix a color with white
@function tint-color($color, $weight) {
  @return mix(white, $color, $weight);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
  @return mix(black, $color, $weight);
}

// Shade the color if the weight is positive, else tint it
@function shift-color($color, $weight) {
  @return if($weight > 0, shade-color($color, $weight), tint-color($color, -$weight));
}


/*-- scss:rules --*/

$web-font-path: "https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap";

@if $web-font-path {
  @import url($web-font-path);
}