// filepath: /Users/aadam/workspace/aadam-dev/_sass/theme-light.scss
// @import "theme.scss";
@import "light-theme.scss";

/*-- scss:defaults --*/

// warmer grays (hue 240)
$white: #fff !default;
$gray-100: #f8f8fa !default;
$gray-200: #e9e9ef !default;
$gray-300: #dcdce6 !default;
$gray-400: #ceceda !default;
$gray-500: #adadbd !default;
$gray-600: #868696 !default;
$gray-700: #494957 !default;
$gray-800: #343440 !default;
$gray-900: #212129 !default;
$black: #000 !default;

// Chad Bennett inspired colors
$accent: #dd7900;
$pink: #d4006a;
$blue: #006ad4;
$green: #00d46a;
$cyan: #00d4d4;
$red: #d40000;
$indigo: #0000d4;
$purple: #6a00d4;
$orange: $accent;
$yellow: #d4d400;
$darker-green: #008542;

$primary: $accent !default;
$secondary: $gray-500 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $orange !default;
$danger: $red !default;
$light: #f3f1ee !default;
$dark: #495057 !default;

$second-color: $purple;
$third-color: $blue;

// colour tweaks to theme
$body-bg: $light;
$body-color: $dark;
$navbar-bg: $body-bg;
$navbar-fg: $body-color;
$code-bg: $light;
$code-color: $accent;
$card-bg: #ffffff88;
$card-border-color: transparent;

/*-- scss:rules --*/

// light vs dark modes
.light-mode {
  display: block;
}
.dark-mode {
  display: none;
}


