@use "theme_variables" as *;

#quarto-header > nav {
  border: none;
}

.navbar-title {
  font-size: $font-size-base * 1.75;
}

.navbar-expand-lg {
  .navbar-nav {
    .nav-link {
      &:hover {
        color: $primary;
      }
    }
    .nav-link.active {
      color: $primary;
    }
  }
}
.navbar-dark {
  .navbar-brand {
    &:hover {
      color: $body-color;
    }
    &:focus {
      color: $body-color;
    }
  }
}
#quarto-header {
  text-transform: uppercase;
  font-family: $font-family-sans-serif;
}
@media screen and (min-width: 640px) {
  a.nav-link {
    position: relative;
  }
  .navbar {
    .navbar-nav {
      align-items: center;
      .nav-item {
        position: relative;
        font-size: $font-size-base * 1.25;
        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          background-color: $primary;
          width: 0%;
          content: "";
          height: 4px;
          transition: all 0.3s;
        }
        &:hover {
          &::after {
            width: 90%;
          }
        }
      }
    }
  }
}
